.standard-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 20px;
  background-color: rgb(255, 111, 0);
  border-radius: 4px;
  border: none;
  box-shadow: -2px 3px black;
  &:hover {
    scale: 105%;
    box-shadow: -4px 6px black;
  }
  img {
    width: 25px;
    height: 25px;
  }
  a {
    color: black;
  }
}
