.pokedex-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
}
.gif-container {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}
.gif-container img {
  width: 200px;
  height: 200px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
